<%- include('./partials/links.ejs') %>

    <head>

        <link rel="stylesheet" href="/css/style.css">
        <%- include('./partials/header.ejs') %>

    </head>

    <body>
        <main>
            <div id="ruta">
                <a class="negro" href="/">listado </a>
            </div>



            <article class="cancion-details">
                <a>Titulo:</a>
                <%= cancion.titulo %>
                    <p>
                        <a>Duracion:</a>
                        <%= cancion.duracion + 'seg' %>
                    </p>
                    <p>
                        <a>Genero:</a>
                        <%= cancion.genero %>
                    </p>
                    <p>
                        <a>Album:</a>
                        <%= cancion.album %>
                    </p>
                    <p>
                        <a>Artista:</a>
                        <%= cancion.artista %>
                    </p>
            </article>
        </main>

        <a href="/canciones/editar/<%= cancion.id %>" class="boton-edit-delete">Editar cancion</a>
        <form action="/canciones/borrar/<%= cancion.id %>" method="post">
            <button type="sumbir">borrar</button>
        </form>


    </body>

    <%- include('./partials/footer.ejs') %>

        </html>