<!DOCTYPE html>
<%- include('./partials/links.ejs') %>
<head>

<link rel="stylesheet" href="/css/style.css">
<%- include('./partials/header.ejs') %> 

</head>

<body>

  <h1>Listado de canciones</h1>
  <a href="/canciones/add" >agregar cancion</a>


  <% canciones.forEach(canciones => { %> 
    <article>
        <a href="/canciones/detalle/<%= canciones.id %>">  
            
            <h4><%= canciones.titulo %></h4>

    </a>
    </article>
    <% }) %>
  
   

    

</body>

<%- include('./partials/footer.ejs') %>

</html>